[submodule "ittapi"]
	path = 3rdParty/IttApi
	url = https://github.com/intel/ittapi
[submodule "3rdParty/nowide"]
	path = 3rdParty/nowide
	url = https://github.com/boostorg/nowide.git
	branch = standalone
